<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497700579776-he1dtv48524dtukavfq0a3ts61moa53t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497700579776-he1dtv48524dtukavfq0a3ts61moa53t</string>
	<key>API_KEY</key>
	<string>AIzaSyBydx0aNFIpjwNVuMy6vrpXe8i_CiZcNoU</string>
	<key>GCM_SENDER_ID</key>
	<string>497700579776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thecodechat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>the-code-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>the-code-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497700579776:ios:79f7ff4403414eea100025</string>
</dict>
</plist>